.user-directory{
    border: 1px solid black;
    /* max-width: 800px; */
    /* margin-left: 500px; */
    margin-top: 20px;
    height: 450px;
    width: 700px;
}


.user-directory-wrap{
    border: 1px solid red;
    padding: 20px 10px;
    margin-top: 20px;
    margin-left: 70px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color:rgba(20, 149, 214, 0.54);
    border-radius: 15px;
    cursor: pointer;
    
}

.title-directory{
    padding: 20px 10px;
    text-align: center;
}


/* post page details  */

.post-page-details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.post-title{
    width: 300px;
    text-align: center;
}
.post-content{
    width: 300px;;
    text-align: center;
}

.left-user-profile-details{
    padding: 20px 10px;
}


.profile-name{
    padding: 10px 5px;
}
.user-name{
    padding: 10px 5px;
}

.catch-phrase{
    padding: 10px 5px;
}

.address{
    padding: 10px 2px;
}