.header{
    background-color: aliceblue;
}
.header-wrap{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.digital-clock{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.digital-clock-btn{
    padding: 10px 40px;
}


/* profile main page  */
.profile-title{
    margin: 20px 10px;

}

.user-profile-details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 10px;
    margin: 40px 10px;

}


/* post main page  */

.post-page-details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.post-title{
    width: 300px;
    text-align: center;
}
.post-content{
    width: 300px;;
    text-align: center;
}

